<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuostap</title>
    <!-- style -->
    <link rel="stylesheet" href="style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- start vue -->
    <main id="app">
        <div class="container">
            <!-- header -->
            <header>
                <!-- L -->
                <div class="header-left">
                    <div class="profile">
                        <img src="img/avatar_io.jpg" alt="img personal profile">
                        <p>Sofia</p>
                    </div>
                    <span>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                </div>
                <!-- R -->
                <div class="header-right">
                   <div class="contact">
                        <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" :alt="contacts.name">
                        <div class="info">
                            <div>{{contacts[currentIndex].name}}</div>
                            <div><small>Ultimo accesso oggi alle {{contacts[currentIndex].messages[2].date.substr(11, 5)}}</small></div>
                        </div>
                   </div>
                    <div class="contact-options">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </header>
            <!-- messagges(L) & conversation (R) -->
            <section>
                <!-- (L) -->
                <div class="messagges">
                    <!-- banner -->
                    <div class="banner-notifications">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div>
                            <small>Ricevi notifiche di nuovi messaggi</small>
                            <small><a href="#">Attiva notifiche desktop</a></small>
                        </div>
                    </div>
                    <!-- search-bar -->
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- contacts -->
                    <div class="contacts">
                        <ul class="contacts-list">
                            <li class="contacts-item" v-for="(contact, index) in contacts" @click="changeChat(index)">
                                <div class="contact">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                    <div class="info">
                                        <div>{{contact.name}}</div>
                                        <div><small>{{latestMessage(index)}}</small></div>
                                    </div>
                                </div>
                                <div class="hour">
                                    <small>{{hourMessage(index)}}</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- (R) -->
                <!-- chat -->
               <div class="conversation">
                    <div class="chat">
                        <div class="message" :class="{'message-sent': message.status === 'sent', 'message-received': message.status === 'received'}" v-for="(message, index) in contacts[currentIndex].messages">
                            <div>{{message.message}}</div>
                            <small class="message-hour">
                                {{hourMessage(index)}}
                            </small>
                        </div>
                    </div>
                    <!-- type messagge -->
                    <footer>
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                    </footer>
                </div>
            </section>
        </div>
    </main>
    <script src="main.js"></script>
</body>
</html>