/* RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMONS */
body {
    width: 100vw;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, rgba(0,150,136,1) 20%,rgba(219,219,210,1) 20%);
}

/* MAIN */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 820px;
    margin: 30px auto;
}

/* HEADER */
header {
    display: flex;
    width: 100%;
    height: 8%;
}

.header-left {
    width: 35%;
    height: 100%; 
    background-color: #F3EEEA;
    border-right: 0.5px solid #afb6bd;
}

.header-right {
    width: 65%;
    height: 100%;
    background-color: #F3EEEA;
    border-left: 0.5px solid #afb6bd;
}

/* SECTION */
section {
    display: flex;
    width: 100%;
    height: 92%;
}

/* MESSAGGES */
.banner-notifications {
    height: 10%;
    width: 100%;
    background-color: #8EDAFC;
}

.search-conversation {
    margin: 15px 0;
}

.fa-magnifying-glass {
    color: #afb6bd;
    border: 1px solid #d3d3d3;
    padding: 3px 20px;
    margin: 0 10px;
}

.search-bar {
    width: 80%;
    border: none;
}

.messagges {
    width: 35%;
    height: 100%;
    background-color: #FAFAFA;
}

/* CONVERSATION */
.conversation {
    display: flex;
    align-items: flex-end;
    width: 65%;
    height: 100%;
    background-image: url(img/mine.jpg);
}

footer {
    height: 8%;
    width: 100%;
    background-color: #E6DFD6;
}