/* RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMONS */
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #009688 20%,#dbdbd2 20%);
}

/* MAIN */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 30px auto;
}

/* HEADER */
header {
    display: flex;
    width: 100%;
    height: 8%;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 35%; 
    background-color: #f3eeea;
    border-right: 0.5px solid #afb6bd;
}

.profile {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 50px;
    border-radius: 50%;
}

.header-left span i {
    font-size: 20px;
    margin-left: 15px;
    color: #afb6bd;
}

.header-right img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.contact {
    display: flex;
}

.header-right {
    width: 65%;
    height: 100%;
    background-color: #f3eeea;
    border-left: 0.5px solid #afb6bd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.header-right .fa-magnifying-glass {
    padding: 3px 5px;
    margin: 0 5px;
}

.fa-paperclip, .fa-ellipsis-vertical {
    color: #afb6bd;
    border: none;
    padding: 3px 5px;
    margin: 0 5px;
}

/* SECTION */
section {
    display: flex;
    width: 100%;
    height: 92%;
}

/* MESSAGGES */
.banner-notifications {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #8edafc;
    padding: 15px;
}

.banner-notifications i {
    background-color: #f2fbff;
    color: #8edafc;
    padding: 12px 10px;
    font-size: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.banner-notifications a {
    display: block;
    color: #b1b1b1;
}

.search-conversation {
    margin: 10px 0;
}

.fa-magnifying-glass {
    color: #afb6bd;
    border: none;
    padding: 3px 15px;
    margin: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #fafafa;
    padding: 5px;
}

.search-bar i {
    background-color: #fff;
    padding: 5px 20px;
    color: #b1b1b1;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    padding: 5px;
}

.messagges {
    width: 35%;
    height: 100%;
    background-color: #fafafa;
}

/* CONTACTS */
.contact {
    display: flex;

}

.contacts {
    display: flex;
    width: 100%;
}

.contacts ul {
    width: 100%;
}

.contacts ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-top: 0.5px solid #afb6bd;
}

.contacts ul li:hover {
    background-color: #b1b1b1;
}

.contacts .name {
    vertical-align: top;
}

.contacts small {
    font-size: 12px;
}

.contacts img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/* CONVERSATION */
.conversation {
    width: 65%;
}

.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-image: url(img/mine.jpg);
    width: 100%;
    height: 92%;
    padding: 30px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 40%;
    position: relative;
}

.message-hour {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    color: #dbdbd2;
}

.message-sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.message-received {
    background-color: #fff;
}

/* FOOTER */
footer {
    height: 8%;
    width: 100%;
    background-color: #e6dfd6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-left: 1px solid #d3d3d3;
}

footer input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

footer i {
    margin: 0 20px;
}
